@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

body {
  /* color: rgb(39, 39, 39); */
  margin: 0;
  padding: 0;
  overflow: auto;
  background-image: url("https://t4.ftcdn.net/jpg/02/92/20/37/360_F_292203735_CSsyqyS6A4Z9Czd4Msf7qZEhoxjpzZl1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
}
